{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    <div>
        <h1>{{ details.name }}</h1>
        {{ details.description|markdownify }}
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        <h2>Tasks</h2>
        {% if details.tasks.all|length >= 1 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task_ in details.tasks.all %}
                        <tr>
                            <td>{{ task_.name }}</td>
                            <td>{{ task_.assignee }}</td>
                            <td>{{ task_.start_date }}</td>
                            <td>{{ task_.due_date }}</td>
                            <td>{{ task_.is_completed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
