{% extends "base.html" %}
{% block content %}
    <div>
        <h1>My Projects</h1>
        <a href="{% url 'create_project' %}">Create a Project</a>
        {% if project_|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for projectData in project_ %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' projectData.pk %}">{{ projectData.name }}</a>
                            </td>
                            <td>{{ projectData.tasks.all | length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
