{% extends "base.html" %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if task_|length == 0 %}
            <p>You have no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignedTasks in task_ %}
                        <tr>
                            <td>{{ assignedTasks.name }}</td>
                            <td>{{ assignedTasks.start_date }}</td>
                            <td>{{ assignedTasks.end_date }}</td>
                            {% if assignedTasks.is_completed == False %}
                                <td>
                                    <form method="post" action="{% url 'complete_task' assignedTasks.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True"/>
                                        <button>Complete</button>
                                    </form>
                                </td>
                            {% elif assignedTasks.is_completed == True %}
                                <td>done!</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
